.favorites {
    padding: 0;
    margin: 0;
}

.favorites li {
    margin: 0;
    padding: 0.5em 0 0 0;
    list-style: none;
    overflow: hidden;
    position: relative;
    background: url(../images/top_gradient.png) repeat-x top left;
}

.favorites h4 {
    padding: 0;
    margin: 0;
    display: inline;
}

.favorites h4 a {
    text-decoration: underline;
}

.favorites .date {
    color: #aaa;
    float: right;
    padding-right: 5px;
}

.favorites .description {
    margin: 0 0 0 110px;
    padding: 1em 0.5em;
    min-height: 100px;
}

.favorites .preview .description {
    height: 100px;
}

.favorites .author {
    float: left;
    width: 100px;
    height: 100%;
    margin: 0;
    padding: 0 5px 5px 5px;
    text-align: center;
    overflow: hidden;
    z-index: 10;
    position: relative;
}

.favorites .author img {
    display: block;
    margin: 0 auto 5px auto;
}


.favorites .favorite {
    background: url(../images/gradient.png) repeat-x bottom left;
}

.favorites .preview h4 {
    position: relative;
    z-index: 10;
}

.favorites .preview .favorite {
    background: none;
}

.favorites .more {
}

.favorites .preview .more {
    background: url(../images/gradient.png) repeat-x bottom left;
    display:block;
    height: 100%;
    position:absolute;
    bottom:0;
    left: 0px;
    right: 0;
    margin:0;
    padding:0;
}

.favorites .preview .more:hover {
    background: url(../images/gradient_hover.png) repeat-x bottom left;
}

.favorites .more img {
    display: none;
}

.favorites .preview .more:hover img {
    display: block;
    z-index: 10;
    margin: auto;
    bottom: 5px;
    right: 5px;
    position: absolute;
}

